@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/material-icons-sharp.eot");
  src: url("../fonts/material-icons-sharp.eot#iefix") format("embedded-opentype"), url("../fonts/material-icons-sharp.woff2") format("woff2"), url("../fonts/material-icons-sharp.woff") format("woff"), url("../fonts/material-icons-sharp.otf") format("opentype"); }
